.widget-box-post-settings-dropdown {
  &.show {
    opacity: 1;
    visibility: visible;
    transform: translate(0px, 0px);
  }

  &.hide {
    position: absolute;
    z-index: 9999;
    top: 30px;
    right: 9px;
    opacity: 0;
    visibility: hidden;
    transform: translate(0px, -20px);
    transition: transform 0.3s ease-in-out 0s, opacity 0.3s ease-in-out 0s, visibility 0.3s ease-in-out 0s;
  }
}